html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.fullscreen-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333333;
    text-align: center;
}

header, footer {
    background-color: rgba(255, 0, 0, 0.8);
    padding: 20px;
}

h1 {
    font-size: 48px;
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;;
}

p {
    font-size: 24px;
}

.photo-marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin: 20px 0;
    width: 100%;
}

.marquee-img {
    width: 200px; /* Fixed width for each image */
    height: auto;
    margin-right: 10px; /* Space between images */
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


.btn {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

button {
    background-color: #d50000;
    color: white;
    border: none;
    width: 250px; /* Fixed width */
    height: 50px; /* Fixed height */
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #a00000;
    transform: scale(1.1);
}

.hidden {
    display: none;
}

footer {
    font-size: 18px;
}

@media (max-width: 600px) {
    .gallery-img {
        width: 100%; /* Full width on smaller screens */
    }
    h1 {
        font-size: 28px; /* Further reduced for mobile */
    }
    p {
        font-size: 16px; /* Further reduced for mobile */
    }
    button {
        font-size: 16px; /* Further reduced for mobile */
    }
    header, footer {
        padding: 50px;
    }
}
